<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>regex-stream</h1>
        <p>node.js module for regular expression parsing on streams</p>
        <p class="view"><a href="{{ site.project_url }}">View the Project on GitHub <small>regex-stream</small></a></p>
        <ul>
          <li><a href="{{ site.project_url }}/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.project_url }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.project_url }}">Fork On <strong>GitHub</strong></a></li>
        </ul>
        <br />
        <p><a href="api.html">View annotated source code</a></p>
        <p><a href="tests.html">View tests</a></p>
      </header>

      <section>
        {{ content }}
      </section>
      
      <footer>
        <p>This project is maintained by <a href="{{ site.project_url }}">Oak Ridge National Laboratory - Visual Analytics Team</a></p>
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>