<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.project_name }}</h1>
        <p>{{ site.project_description }}</p>
        <p class="view"><a href="{{ site.project_url }}">View the Project on GitHub <small>{{ site.project_name }}</small></a></p>
        <ul>
          <li><a href="{{ site.project_url }}/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.project_url }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.project_url }}">Fork On <strong>GitHub</strong></a></li>
        </ul>
        <br />
        <p><a href="index.html">Home</a></p>
        <p><a href="api.html">API</a></p>
        <p><a href="tests.html">Tests</a></p>
      </header>

      <section>
        <h2>{{ page.title }}</h2>
        
        {{ content }}
      </section>
      
      <footer>
        <p>This project is maintained by <a href="{{ site.team_url }}">{{ site.team_name }}</a> at <a href="{{ site.org_url }}">{{ site.org_name }}</a></p>
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>
